*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: capitalize;
    background-color: rgb(226, 226, 226);
}
/* ////////////////////////////////////////////////////////////<!-- this is a header -->/////////////////////////////////////////////////////////// */
.div1{
    background-color: rgb(31, 31, 31);
    opacity: 0.9;
    height: 50px;
    width: 100%; 
    position: fixed;
    top:0;
    left: 0; 
    z-index: 10; 
} 
.logo{
    height: 50px;
    width: 50px;
    margin-left: 100px; 
    font-size: 48px;
}
 .toplinks {
    float: right; 
    list-style-type: none;
    margin-right: 17px;
    font-size: 18px;
    line-height: 30px;
    margin-top: 8px;
} 
li{
    display: inline-block;
    margin-right: 30px; 
    transition: 5s;
}   
.header-a{
    color: #909090;
    position: relative;
    text-transform: capitalize;
    transition: 0.5s;
}
.icon0{
    color: #3564ff;
    transition: 0.5s;
 }
.header-a:hover .icon0{
    color: white;
 }
.header-a::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 0;
    height: 5px;
    border-radius: 5px;
    background-color: #1f53ff;
    transition: 0.5s;
    border-radius: 5px;
}
.header-a:hover{
    color: #ffff;
}
.header-a:hover::before{
    width: 100%;
    height: 5px;
}

/* /////////////////////////////////////////////////////////////////////<!-- home section -->/////////////////////////////////////////////////////////////////////// */
.div2{
    width: 100%;
    height: 100vh;
    background-image: url(../images/bg4.jpg);
    padding: 0;
    text-align: center;  
    overflow:auto; 
    background-repeat: no-repeat;
     background-size:cover;
} a{
    text-decoration: none; 
    color: rgb(255, 255, 255);
}  
.span1{
    display: inline; 
    font-size: 85px; 
    text-shadow: 7px 7px 3px gray;
 }
 .khara{
    height: 30px;
 }
 .span2{
    font-size: 25px;
    display: block;
    margin-top: 30px;
    
 }
 .div3{
    margin-top: 150px;
    
 } 
 .bu1{
    margin: 30px;
    padding: 10px; 
    width: 200px; 
    font-size: 25px;
    border: hidden; 
    border-radius: 10px;
    margin-top: 70px; 
    transition: 0.5s;
    cursor: pointer;
    color: rgb(48, 48, 48);
 }
.bu2{
    margin: 30px;
    padding: 10px;
    width: 200px;
    font-size: 25px; 
    margin-top: 70px; 
    color: rgb(255, 255, 255);
    background-color:#194eff;
    border: hidden; 
    cursor: pointer;
    border-radius: 10px;
    transition: 0.5s;
 }
.bu2:hover{
    background-color: #ffff;
    color: #1f53ff;
} 
.bu1:hover{
    background-color:rgb(48, 48, 48);
    color: #ffff;
}
/* ////////////////////////////////////////////////////////////////// <!-- the part of three section -->/////////////////////////////////////////////////////////////////////// */

.parentof3divs{
    width: 100%;
    height: 450px; 
   text-align: center; 
}
.sonofparentof3divs{
    width: 80%;
    height: 300px; 
    margin: auto; 
}
.squ1{
    float: left;
    border: 0.2px solid black;
    margin: 0 2.6%;
    height: 280px; 
    width: 300px;
    border-radius: 10px 70px; 
    text-align: center; 
    transition: 0.5s;
    position: relative;
} 
.blueline{
    background-color:#1f53ff; 
    height: 6px;
    width: 70px; 
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    border-radius: 5px;
} 
.span3{
    font-size: 40px; 
    display: block;
    text-shadow: 5px 5px 3px gray;
 } 

.pin3divs{
    font-size: 18px; 
    margin: auto 15px;
}
.a1{
    text-decoration: none;
    color:#1f53ff;
    font-size: 20px;
    margin-top: 35px; 
    transition: 0.5s;
    line-height: 30px;
} 
.icon1{
    font-size: 40px; 
    margin-top: 15px; 
    color: #1f53ff;
}
.squ1::after{
    content: "";
    position: absolute;

    width: 0;
    height: 0;

    bottom: 0;
    right: 0;

    background-color: #333;
    transition: 1s;
    border-radius: 10px 70px;
    
}
.squ1:hover::after{
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
}
.squ1::before{
    content: "";
    position: absolute;

    width: 0;
    height: 0;

    top: 0;
    left: 0;
    background-color: #333;
    transition: 1s;
    border-radius: 10px 70px;
    
}
.squ1:hover::before{
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
}

.a1:hover {
    color: rgb(0, 0, 100);
}  
.fully{
    line-height: 35px;
    margin-top: 10px;
}
/* ///////////////////////////////////////////////////////////////// <!--the part of futured works  -->//////////////////////////////////////////////////////////////////////// */
.parentoh6divs{
    height: 950px;
    width: 100%;
    margin: 0;
    padding: 0; 
    text-align: center; 
    overflow: auto;
}
.sonofparentof6divs{ 
    width: 80%;
    height: 350px;
    margin-top: 80px; 
    margin: auto;    
}
.title{
    font-size: 40px; 
    margin-top: 30px; 
    line-height: 80px;
    text-align: center;
    text-shadow: 5px 5px 3px gray;
}
.line2{
    background-color: #1f53ff; 
    height: 6px;
    width: 70px; 
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px; 
    margin-bottom: 20px;
}
.line1pic{
    float: left;
    margin: 0 1.6%;
    height: 350px; 
    width: 30%;
    border-radius: 10px; 
    text-align: center; 
    transition: 0.5s;
    position: relative;
    z-index: 2;
} 
.messi{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.futured-overlay{
    position: absolute;
    top:0;
    right:0;
    bottom: 0;
    left: 0;
    background-color:  rgb(24, 25, 29) ;
    visibility: hidden;
    opacity: 0;
    transition: 0.7s;
    border-radius: 10px;
}
.line1pic:hover .futured-overlay{
    visibility: visible;
    opacity: 0.9;
    
}
.line1pic:hover{
    transform: scale(1.05,1.05);
    box-shadow: 12px 12px 13px #547cff;
}
.futured-overlay-icone{
    width: 35%;
    height: 45px;
    margin: auto;
    margin-top: 20px;
}
.futured-overlay-p1{
    font-size: 23px;
    text-align: center;
    color:#1f53ff;
    margin-top: 120px; 
    opacity: 1;
}
.futured-overlay-p2{
    font-size: 23px;
    text-align: center;
    color:#B2B2B2;
}
.futured-icone
{
    font-size: 40px;
    height: 40px;
    width: 40px;
    padding: 4px;
    margin-left: 2px; 
    color: #1f53ff;
    cursor: pointer;
}


/* /////////////////////////////////////////////////////////////////<!-- what we offer -->/////////////////////////////////////////////////////////////////////////// */
.offer-parent{
    width: 100%;
    height: 800px; 
    text-align: center; 
}
.offer-container{
    width: 75%;
    margin: auto;
}
.offer-line1{
    width: 100%;
    height: 250px;
}
.offer-div1{
    height: 100%;
    width: 29.3%;
    float: left;
    margin: 0 1.9%; 
    border:  1.2px solid black;
    position: relative;
    z-index: 1;
    border-radius: 20px 70px;
}
.offer-line2{
    width: 100%;
    height: 250px;
    margin-top: 30px; 
}
.offer-div2{
    height: 100%;
    width: 29.3%;
    float: left;
    margin: 0 1.9%; 
    border:  1.2px solid black;
    position: relative;
    z-index: 1;
    border-radius: 20px 70px;
}
.offer-div1::after{
    content: "";
    position: absolute;

    width: 0;
    height: 0;

    top: 0;
    left: 0;
    background-color: #858585;
    transition: 0.7s;
    border-radius: 20px 70px;
    
}

.offer-div1:hover::after{
    width: 100%;
    height: 100%;
    opacity: 0.8;
    z-index: -1;
}
.offer-div1:hover .offer-icon{
    color: #1f53ff;
}
.offer-div2:hover .offer-icon{
    color: #1f53ff;
}
.offer-div2::after{
    content: "";
    position: absolute;

    width: 0;
    height: 0;

    top: 0;
    left: 0;
    background-color:#858585;
    transition: .7s;
    border-radius: 20px 70px;
    
}
.offer-div2:hover::after{
    width: 100%;
    height: 100%;
    opacity: 0.8;
    z-index: -1;
}
.offer-div1:hover .offer-divh2{
    color: #ffff;
}
.offer-div2:hover .offer-divh2{
    color: #ffff;
}
.offer-title{
    font-size: 40px;
    line-height: 80px;
    text-shadow: 5px 5px 3px gray;
}
.offer-title-line{
    background-color:#1f53ff; 
    height: 6px;
    width: 70px;
    margin: auto;
    margin-bottom: 35px;
    border-radius: 5px;
}
.offer-divh2{
    line-height: 40px;
    margin-top: 20px;
} 
.offer-span{
    font-size: 23px;
    margin-top: 40px;
    display: block;
    color: #222;
}
/* ///////////////////////////////////////////////////////////<!-- section of why you choose us -->////////////////////////////////////////////////////////////////////////////////////// */
.choose-parent{
    width: 100%;
    height: 500px;
}
.choose-container{
    height: 100%;
    width: 75%;
    margin: auto; 
    position: relative;
}
.khara2{
    height: 25px;
}
.choose-img{
    height: 450px;
    width: 350px;
    position: absolute;
    right: 0;
    top: 10px; 
}
.choose-3cir{
    position: absolute;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    bottom: 17px;
}
.choose-cir1{
    right: 145px; 
    background-color: grey;
}
.choose-cir2{
    right: 165px;
    background-color: grey;
}
.choose-cir3{
    right: 185px;
    background-color:#1f53ff;
}
.choose-cir1:hover{
    background-color:#1f53ff;
}
.choose-cir2:hover{
    background-color: #1f53ff;
}

.choose-content{
    height: 100%;
    width: 60%;
}
.choose-title{
    height: 40px;
    width: 450px;
    margin-top: 30px;
    font-size: 40px;
    text-shadow: 5px 5px 3px gray;
}
.choose-title-line{
    background-color:#1f53ff; 
    height: 6px;
    width: 70px;
    margin-bottom: 35px;
    border-radius: 5px; 
    margin-top: 20px;
}
.choose-div1{
    height: 60px;
    width: 100%;
    font-size: 23px;
}
.choose-div2{
    height: 250px;
    width: 100%;
    font-size: 20px;
    line-height: 23px;
}
.choose-meesi{
    width: 100%;
    height: 100%;
}
.choose-icon{
    color: #1f53ff;
}
/* ////////////////////////////////////////////////////////section of numbers/////////////////////////////////////////////////////////////////// */
.numbers-parent{
    width: 100%;
    height: 310px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-image: url(../images/numbers/2.jpg);
}
.numbers-container{
    width: 80%;
    height: 100%;
    margin: auto; 
}
.numbers-div{
    height: 80%;
    width: 18%;
    margin: 3.5%;
    float: left;
    text-align: center;
}
.number-book-icone{
    margin-top : 60px;
    font-size: 55px;
    color: #3463ff;
}
.numbers-words{
    margin-top: 10px;
    font-size: 20px;
}
/* ////////////////////////////////////////////////////////section of pricing ////////////////////////////////////////////////////////////////// */
.pricing-parent{
    width: 100%;
    height: 650px;
    text-align: center;

}
.pricing-title{
    text-align: center;
    font-size: 50px;
    line-height: 90px;
    text-shadow: 5px 5px 3px gray;
}
.pricing-title-line{
    background-color:#1f53ff; 
    height: 6px;
    width: 75px;
    margin-bottom: 35px;
    border-radius: 5px;
    margin: auto;
}
.pricing-container{
    width: 80%;
    height: 350px;
    margin: auto; 
    margin-top: 100px;
}
.pricing-div{
    height: 100%;
    border: 1px solid black;
    width: 30%;
    float: left;
    margin-left: 2.3%;
    z-index: 1;
    border-radius: 20px 70px;
    position: relative;
}
.pricing-div::after{
    content: "";
    position: absolute;

    width: 90%;
    height: 0;

    top: 0;
    left: 0;
    background-color:#909090;
    transition: .7s;
    opacity: 0.3;
    border-radius: 20px 70px;
    
}
.pricing-div:hover::after{
    width: 100%;
    height: 100%;
    opacity: 0.7;
    z-index: -1;
}
.pricing-div:hover .pricing-div-cir{
    color: rgb(31, 31, 31);
}
.pricing-div:hover h2{
    color:rgb(31, 31, 31);
}
.pricing-div:hover .pricing-div-p{
    color:rgb(31, 31, 31);
}
.pricing-div-btn:hover{
    color:#1f53ff;
    transition: 0.7s;
}

.pricing-div h2{
    margin-top: 20px;
}
.pricing-div-cir{
    text-align: center;
    border: 2px solid #1f53ff;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    font-size: 27px;
    font-weight: bold;
    margin: 20px auto;
    line-height: 40px;
}
.pricing-div-p{
    line-height: 25px;
    font-size: 20px;
    margin-top: 25px;

}
.pricing-div-btn{
    padding: 5px;
    font-size: 18px;
    border: 2px solid #1f53ff;
    background-color: unset;
    margin-top: 25px;
    cursor: pointer;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: capitalize;
}

/* //////////////////////////////////////////////////section of our team////////////////////////////////////////////////////////////////////////////////// */
.team-parent{
    width: 100%;
    height: 480px;
    background-image: url(../images/team/6.jpg);
    background-size: cover;
    background-attachment: fixed;

}
.team-title{
    text-align: center;
    font-size: 44px;
    line-height: 90px;
    text-shadow: 5px 5px 3px gray;
}
.team-title-line{
    background-color: #1f53ff; 
    height: 6px;
    width: 75px;
    margin-bottom: 35px;
    border-radius: 5px;
    margin: auto;
}
.team-container{
    width: 75%;
    height: 300px;
    margin: auto; 
    margin-top: 25px;
}
.team-div{
    width: 30%;
    height: 100%;
    background-color:rgb(53, 53, 53);
    margin: 0px 1.6%;
    float: left;
    position: relative;
}
.team-div::after{
    content: "";
    position: absolute;

    width: 30%;
    height: 30%;

    top: 0; 
    left: 0;
    background-color: #909090;
    transition: .8s;
    opacity: 0;
    
}
.team-div:hover::after{
    width: 100%;
    height: 100%;
    opacity: 0.3;
}

.team-img-div{
    width: 80%;
    margin: auto;
    height: 230px;
}

.team-overlay{
    position: absolute;
    top:0;
    right:0;
    left: 0;
    width: 80%;
    margin: auto;
    height: 230px;
    background-color:  rgb(24, 25, 29) ;
    visibility: hidden;
    opacity: 0;
}
.team-div:hover .team-overlay{
    visibility: visible;
    opacity: 0.5;

}
.team-links{
    width: 50px;
    height: 150px;
    float: right;
    background-color: #1f53ff;
    cursor: pointer;
}
.team-icon{
    line-height: 50px;
    font-size: 30px;
    text-align: center;
    padding: 15px;
    margin: auto;
    color: #909090;

}
.team-icon-container{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.team-words{
    width: 100%;
    height: 65px;
    text-align: center;
    font-size: 20px;
    line-height: 25px;
    margin-top: 7px;
    color: #a7a7a7;
}
.team-div:hover .team-words{
    color:#1f53ff;
}

.team-container img{
    height: 100%;
    width: 100%;
}
/* /////////////////////////////////////////////////////////section of news//////////////////////////////////////////////////////////////////////////////// */
.news-parent{
    width: 100%;
    height: 700px;
}
.news-title{
    text-align: center;
    font-size: 45px;
    text-shadow: 5px 5px 3px gray;
    line-height: 85px;
}
.news-title-line{
    background-color:#1f53ff; 
    height: 6px;
    width: 75px;
    margin-bottom: 35px;
    border-radius: 5px;
    margin: auto;
}
.news-container{
    height: 520px;
    width: 80%;
    margin: auto;
    margin-top: 35px;
}
.news-div{
    height: 100%;
    width: 30%;
    margin: 0 1.6%;
    background-color: rgb(180, 180, 255);
    float: left; 
    position: relative;
}
.news-div::after{
    content: "";
    position: absolute;

    width: 100%;
    height: 0;

    top: 0;
    left: 0;
    background-color:#3a68ff;
    transition: .7s;
    opacity: 0.3;
    
}
.news-div:hover::after{
    width: 100%;
    height: 100%;
    opacity: 0.3;
}
.news-img{
    margin: auto;
    height: 280px;
    width: 230px;
}
.news-icone{
    height: 25px;
    width: 230px;
    margin-left: 20px;
    margin-top: 10px; 
    font-size: 15px;
}
.news-img-title{
    height: 25px;
    margin-left: 20px;
    margin-top: 10px; 
    font-size: 21px;
}
.news-div p{
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.news-div a{
    font-size: 20px;
    line-height: 25px;
    color:#1f53ff; 
    margin-left: 35%;
    position: absolute;
    bottom: 20px;
    cursor: pointer;
    z-index: 1;
}
.news-div img{
    width: 100%;
    height: 100%;
}
/* ////////////////////////////////////////////////////section of team jop////////////////////////////////////////////////////////////////// */
.jop-parent{
    width: 100%;
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-image: url(../images/jop/gb7.jpg);
}
.jop-container{
    width: 70%;
    height: 100%;
    margin: auto;
}
.jop-big-div{
    width: 45%;
    height: 100%;
    float: left;
    margin: 0 2.5%;
}
.jop-cir{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    float: left;
    margin-top: 60px;
    margin-left: 20px;
}
.jop-nextto-cir{
    float: left;
    width: 150px;
    height: 60px;
    margin-top: 80px;
    margin-left: 20px; 
    line-height: 25px;
    font-size: 20px;
}
.jop-under-cir{
    width: 350px;
    height: 80px;
    margin-top: 160px;
    margin-left: 20px;
}
.jop-nextto-cir a{
    color: #1f53ff;
}
.jop-container img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
/* ////////////////////////////////////////////////////////////section of coby right////////////////////////////////////////////////////////////////////// */
.copy-parent{
    width: 100%;
    height: 110px;
    background-color: #555555;
}
.copy-container{
    width: 47%;
    height: 98%;
    margin: auto;
    position: relative;
}
.copy-img{
    height: 100%;
    width: 200px;
    float: left;
    
}
.copy-circels{
    float: right;
    width: 300px;
    height: 50px;
    position: absolute;
    bottom: 30px;
    right: 50px;
}
.copy-words{
    float: right;
    margin-top: 85px;
    margin-right: 5px;
}
.copy-cir{
    float: left;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 35px;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
}
.copy-cir:hover{
    opacity: 0.7;
}

 
.copy-cir-1{
    background-color:  #3b5998;
}
.copy-cir-2{
    background-color: 	#1DA1F2;
}
.copy-cir-3{
    color: #ff0000; 
    background-color: rgb(255, 0, 0);
}
.copy-cir-4{
     background: linear-gradient(30deg, rgb(251, 255, 0), red, #6f00ff); 
     font-size: 43px;    
}
.copy-cir-5{
    background-color: #ee331e;
}
.copy-cir-6{
    background-color: #0072b1;
}  